// Place all the styles related to the students controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.border-radius-13 {
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

.classTopic {
    height: 150px;
    width: 316px !important;
    border-bottom: solid;
    border-bottom-color: #FFFFFF;
    border-bottom-width: 1px;
    position:relative;
    z-index: 9999;
}

.gallery-highlight {
    background-color: #0059bc;
}
